<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ 'APP.TITLE' | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/play" routerDirection="root" routerLinkActive="active-link">
            <fa-icon [icon]="['fas', 'gamepad']" slot="start"></fa-icon>
            <ion-label>{{ 'MENU.PLAY' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/create-game" routerDirection="root" routerLinkActive="active-link">
            <fa-icon [icon]="['fas', 'plus-circle']" slot="start"></fa-icon>
            <ion-label>{{ 'MENU.CREATE_GAME' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-menu-toggle auto-hide="true">
          <ion-item button routerLink="/settings" routerDirection="root" routerLinkActive="active-link">
            <fa-icon [icon]="['fas', 'cog']" slot="start"></fa-icon>
            <ion-label>{{ 'MENU.SETTINGS' | translate }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
